[Unit]
Description=Automatic APT key migration
ConditionPathExists=/etc/apt/trusted.gpg

[Service]
Type=oneshot
ExecStart=apt-key-migrate

[Install]
WantedBy=multi-user.target